body {
    background-color: var(--white-text-color);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
   }

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1, h2, h3, h4, p {
    margin: 0;
}
.container {
    width: 1200px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-left: auto;
    margin-right: auto; 
    /*outline: 1px solid red*/;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link {
    list-style-type: none;
    margin: 0;
}

:root{
/* Цвет заголовков*/
    --title-text-color: #212121;

/* Цвет пояснений*/
    --text-paragraph-color:#757575;

/* Цвет интерактивных элементов (голубой) */
    --accent-color:#2196F3;

    /* Цвет логотипа */
    --logo-color:#000000;

/* Цвет текста в темном фоне  */
    --white-text-color: #ffffff;

/* Цвет темного фона  */
    --background-hero:#2F303A;

/* Цвет бледного фона (серенький)  */
    --background-section:#F5F4FA;
   }

/*ХЕДЕР!*/
.header {
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.start-logo {
    color: var(--accent-color);
}
.end-logo {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--logo-color);
    margin-right: 93px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.end-logo:hover {
    color: var(--accent-color);
}
.end-logo:focus {
    color: var(--accent-color);
}
.nav-link {
    display: flex;
    align-items: center; 
}
.nav-mail {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.container-flex {
    display: flex;
    align-items: center;
}
.item {
    margin-right: 50px;
}
.nav-link .item:last-child {
    margin-right: 0;
}
.link .nav-link.item {
    padding: 0;
}
.header-link-current {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    padding: 0;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-link-portpholio {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
    
}
.header-link-portpholio:hover {
    color: var(--accent-color);
}
.header-link-portpholio:focus {
    color: var(--accent-color);
}
.header-link-studio {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.header-link-studio:hover {
    color: var(--accent-color);
}
.header-link-studio:focus {
    color: var(--accent-color);
}
.header-link-contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    margin-right: 250px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.header-link-contact:hover {
    color: var(--accent-color);
}
.header-link-contact:focus {
    color: var(--accent-color);
}
.header-mail {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    margin-right: 70px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items:center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.header-mail:hover {
    color: var(--accent-color);
}
.header-mail:focus {
    color: var(--accent-color);
}
.header-phone {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);   
}
.header-phone:hover {
    color: var(--accent-color);
}
.header-phone:focus {
    color: var(--accent-color);
}
.icon {
    margin-right: 10px;
}
.icon-mail {
    fill: var(--title-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.icon-mail:hover {
    fill: var(--accent-color);
}
.icon-mail:focus {
    fill: var(--accent-color);
}
.icon-phone {
    fill: var(--title-text-color);

    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.icon-phone:hover {
    fill: var(--accent-color);
}
.icon-phone:focus {
    fill: var(--accent-color);
}

/*ГЕРОЙ*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../imeges/many-face.jpg);
    background-size: cover;
    background-color:  #C4C4C4;
   }
.hero-header {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    max-width: 696px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    display: inline-block;
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.36;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
    color: var(--accent-color);
    background-color: var(--white-text-color);
}

.hero-button:focus {
    color: var(--accent-color);
    background-color: var(--white-text-color);
}

/*qualities*/

.qualities-header {
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.qualities-text {
    color: var(--text-paragraph-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.qualities-div {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-section);
    
}
.link-qualities {
    padding: 0;
}
.icon-qualities {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}

.icon-qualities:hover {
    fill: var(--accent-color)
}
.link-qualities {
    display: flex;
    justify-content: space-between;
}

.qualities-qualities {
    margin-right: 30px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.qualities-qualities-end {
    margin-right: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/

.our-work-header {
    margin-bottom: 50px;
    color: var(itle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.link-our-work {
    display: flex;
    padding: 0;
}
.our-work {
    padding-bottom: 94px;
}
.link-work {
    margin-right: 30px;
    padding: 0;
    display: block;
}
.link-work-end {
    display: block;
}

/*НАША КОМАНДА*/

.we {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-section);
}
.we-header {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.we-specialist {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.we-text {
    color: var(--text-paragraph-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.link-we-header {
    display: flex;
    padding: 0;
}
.we-photo {
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.we-photo-end {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.we-specialist {
    margin-bottom: 10px;
    margin-top: 30px;
}
.we-text {
    margin-bottom: 0px;
}
.transition-we {
    display: flex;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;  
}
.transition-link {
    padding: 0;
    list-style-type:none;
    display: flex;
}
.div-we {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.icon-we, .icon-we-end {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.icon-we:hover {
    fill: var(--white-text-color);
}
.icon-we:focus {
    fill: var(--white-text-color);
}
.icon-we-end:hover {
fill: var(--white-text-color);
}
.icon-we-end:focus {
    fill: var(--white-text-color);
}
.div-we:hover {
    background-color:var(--accent-color);    
}
.div-we:focus {
    background-color: var(--accent-color);
}

/*ПОСТОЯННЫЕ КЛИЕНТЫ*/

.our-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.link-clients-logo {   
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.link-clients-logo:hover{
    border: 1px solid var(--accent-color);
}

.link-our-clients {
    padding: 0;
}

/*ФУТЕР*/

.footer {
    display: flex;
    background-color: var(--background-hero);   
}
.footer-logo .start-footer-logo {
    padding-right: 0;
}
.footer-logo {
    margin-top: 0px;
    color: var(--white-text-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
}
.end-footer-logo {
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.end-footer-logo:hover {
    color: var(--accent-color);
}
.end-footer-logo:focus {
    color: var(--accent-color);
}
.footer-address {
    color: var(--white-text-color);
    list-style-type: none;
    font-style: normal;    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
}
.footer-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.footer-mail:hover {
    color: var(--accent-color);
}
.footer-mail:focus {
    color: var(--accent-color);
}
.foote-phone {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.foote-phone:hover {
    color: var(--accent-color);
}
.foote-phone:focus{
    color: var(--accent-color);
}
.footer-box {
    display: flex;
}
.footer-call {
    display: flex;
}
.footer-link {
    list-style-type: none;
    display: flex;
    padding: 0;
}
.footer-call {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}
.icon-footer {
    fill: var(--white-text-color)
}
.icon-footer-end {
    fill: var(--white-text-color)
}
.footer-container {
    display: flex;
    align-items: baseline;
    width: 1200px;
    /*height: 252px;*/
    padding-top: 60px;
    padding-bottom: 60px;
}
.start-footer-logo {
    margin-left: 40px;
}
.link-our-clients {
    display: flex;
}
.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}
.div-footer:hover {
    background-color: var(--accent-color);
}
.div-footer:focus {
    background-color: var(--accent-color);
}
.footer-box {
    margin-left: 70px;
    flex-direction: column;
    
    width: 206px;
    height: 80px;
}


/*КНИПКИ ПОРТФОЛИО*/
.button {
    font-family: "Roboto";
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-right: 8px;
    border-color: transparent;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.button-portfolio {
    margin: 0 8px 0;
}

/*КАРТИНКИ ПАРТФОЛИО*/

.portfolio-header {
    margin-left: 39px;
    margin-top: 18px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.link {
    padding: 0;
}
.link-portfolio {
    text-decoration: none;   
}
.link-portfolio:hover .window {
    transform: translateY(0);
}
.portfolio-photo {
    position: relative;
    overflow: hidden;
}

.portfolio-li {
    /*outline: 1px solid red;*/
    
    padding: 0;
    margin: 15px;
}
.portfolio-li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0);
}
.window {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(102%);

    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);;  
}

.window-tex {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}

.link-auto {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-text {
    margin-left: 39px;
    color: var(--text-paragraph-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.link-button {
    display: flex;
    margin-bottom: 32px;
    margin-top: 55px;
    justify-content: center;
}

/*модальное окно*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
    width: 528px;
    height: 581px;
       
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.div-close {
    display: flex;
    align-items: center;
    justify-content: center;
}

















